/* :root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
	--content-width: 1200px;
	--tablet-width: 768px;
	--mobile-big-width: 414px;
	--mobile-small-width: 320px;
}

@font-face {
	font-family: "Georgia";
	font-style: normal;
	src: url(../../fonts/georgia/georgia-regular.ttf);
}

@font-face {
	font-family: "Arial-narrow";
	font-style: normal;
	src: url(../../fonts/arial/arial-narrow.ttf);
}

@font-face {
	font-family: "Arial";
	font-style: normal;
	src: url(../../fonts/arial/arial.ttf);
} */

/* html {
	font-size: 12px;
	letter-spacing: 4px;
	scroll-behavior: smooth;
} */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	background: black;
	overflow: hidden;
}

.switch input {
	display: none;
}

.controls {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
	z-index: 100;
}

.controls label {
	width: 20px;
	height: 20px;
	background: blue;
	border-radius: 20px;
	cursor: pointer;
	opacity: 0.4;
	transition: .5s;
}

.switch input:nth-child(1):checked~.controls label:nth-child(1),
.switch input:nth-child(2):checked~.controls label:nth-child(2),
.switch input:nth-child(3):checked~.controls label:nth-child(3),
.switch input:nth-child(4):checked~.controls label:nth-child(4) {
	opacity: 1;
	width: 50px;
}

.wrapper {
	position: relative;
	width: 300vw;
	display: flex;
	transition: .3s;
}

.wrapper .box {
	display: none;
	/* width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; */
}

.wrapper .box:nth-child(1) {
	background: rgb(122, 237, 145);
}

.wrapper .box:nth-child(2) {
	background: rgb(83, 186, 234);
}

.wrapper .box:nth-child(3) {
	background: rgb(50, 118, 243);
}

.wrapper .box:nth-child(4) {
	background: rgb(212, 76, 240);
}

.switch input:nth-child(1):checked~.wrapper .box:nth-child(1) {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(2):checked~.wrapper .box:nth-child(2) {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(3):checked~.wrapper .box:nth-child(3) {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(4):checked~.wrapper .box:nth-child(4) {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .switch input:nth-child(2):checked~.wrapper {
	left: -100vw;
}

.switch input:nth-child(3):checked~.wrapper {
	left: -200vw; */
/* } */