/* :root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
	--content-width: 1200px;
	--tablet-width: 768px;
	--mobile-big-width: 414px;
	--mobile-small-width: 320px;
}

@font-face {
	font-family: "Georgia";
	font-style: normal;
	src: url(../../fonts/georgia/georgia-regular.ttf);
}

@font-face {
	font-family: "Arial-narrow";
	font-style: normal;
	src: url(../../fonts/arial/arial-narrow.ttf);
}*/

@font-face {
	font-family: "Arial";
	font-style: normal;
	src: url(../../fonts/arial/arial.ttf);
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
}

.page {
	max-width: 100vw;
	height: 100vh;
	background: rgb(160, 223, 244);
}

.container-wrapper {
	padding: 1.25rem;
}

.container {
	margin: 0 auto;

	/* overflow: hidden; */
}

.switch input {
	display: none;
}

.controls {
	/* position: absolute; */
	/* bottom: 40px;
	left: 50%; */
	/* transform: translateX(-50%); */
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 0.8rem;
	/* z-index: 100; */

	/* @media (width <=700px) {
		justify-content: center;
	} */
}

.controls label {
	width: 1.50rem;
	height: 1.50rem;
	background: blue;
	border-radius: 2.50rem;
	border: 1rem solid rgb(160, 223, 244);
	cursor: pointer;
	opacity: 0.4;
	transition: .5s;
}

label:hover {
	background: black;
	/* color: rgb(137, 137, 165);
	opacity: 0.4; */
}

.switch input:nth-child(1):checked~.underpicture .controls label:nth-child(1),
.switch input:nth-child(2):checked~.underpicture .controls label:nth-child(2),
.switch input:nth-child(3):checked~.underpicture .controls label:nth-child(3),
.switch input:nth-child(4):checked~.underpicture .controls label:nth-child(4) {
	opacity: 1;
	width: 3.125rem;
}


.wrapper {
	/* position: relative; */
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 5s;
}

.memo {
	/* position: relative; */
	max-width: 100%;
	display: flex;
	transition: 5s;
}

.wrapper .box {
	/* display: none; */
	visibility: hidden;
	opacity: 0;
	max-width: 0;
	transition: all 1s linear;
	/* width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; */
}

.underpicture {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (width <=700px) {
		flex-direction: column-reverse;
	}
}

.memos .memo {
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	transition: all .5s ease;
	/* display: none; */
}

img {
	max-width: 100%;
	object-fit: none;
}

/* .wrapper .box:nth-child(1) {
	background: rgb(122, 237, 145);
}

.wrapper .box:nth-child(2) {
	background: rgb(83, 186, 234);
}

.wrapper .box:nth-child(3) {
	background: rgb(50, 118, 243);
}

.wrapper .box:nth-child(4) {
	background: rgb(212, 76, 240);
} */

/* .wrapper .box img {
	object-fit: cover;
} */

.switch input:nth-child(1):checked~.wrapper .box:nth-child(1) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	max-width: 100%;
	/* width: calc(100vw-40px); */
	/* height: 100vh; */
	/* object-fit: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(2):checked~.wrapper .box:nth-child(2) {

	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	max-width: 100%;
	/* width: calc(100vw-40px); */
	/* height: 100vh; */
	/* object-fit: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(3):checked~.wrapper .box:nth-child(3) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	max-width: 100%;
	/* width: calc(100vw-40px); */
	/* height: 100vh; */
	/* object-fit: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.switch input:nth-child(4):checked~.wrapper .box:nth-child(4) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	max-width: 100%;
	/* width: calc(100vw-40px); */
	/* height: 100vh; */
	/* object-fit: cover; */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* checked~.wrapper .box:  */
.switch input:nth-child(1):checked~.underpicture .memos .memo:nth-child(1) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	max-height: 1000px;
	width: calc(100vw-2.5rem);
	display: flex;
	justify-content: left;
	align-items: center;
}

.switch input:nth-child(2):checked~.underpicture .memos .memo:nth-child(2) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	width: calc(100vw-2.5rem);
	display: flex;
	justify-content: left;
	align-items: center;
}

.switch input:nth-child(3):checked~.underpicture .memos .memo:nth-child(3) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	width: calc(100vw-2.5rem);
	display: flex;
	justify-content: left;
	align-items: center;
}

.switch input:nth-child(4):checked~.underpicture .memos .memo:nth-child(4) {
	transition: all .5s ease;
	visibility: visible;
	opacity: 1;
	width: calc(100vw-2.5rem);
	display: flex;
	justify-content: left;
	align-items: center;
}

.memos .memo .citation {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: blue;

	@media (width <=700px) {
		font-weight: 200;
		font-size: 1rem;
	}
}

/* .switch input:nth-child(2):checked~.wrapper {
	left: -100vw;
}

.switch input:nth-child(3):checked~.wrapper {
	left: -200vw; */
/* } */